@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Slab:300&display=swap');
@import '_reset.css';
@import '_typography.css';

body {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}
.main.four-oh-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: slategray;
}
.main.four-oh-four .title {
  font-size: 96px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.box {
  border: 1px solid #707070;
  flex: 0 0 49%;
  margin-bottom: 24px;
  min-height: 200px;
  padding: 18px;
}

.question .sample {
  border: 1px solid #cacaca;
  margin: 12px 32px 6px 0;
  padding: 12px 14px;
}

@media screen and (min-width: 900px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    min-height: 500px;
  }
}
